# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Static files
staticfiles/

# Media/uploads
media/

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Environment variables
.env


